<div class="page-holder">
   <header class="header-holder mat-elevation-z6">
       <img src="../assets/images/c.svg" alt="ícone das conversinhas">
       <span>conversinhas</span>
   </header>

   <section class="login-holder">
    <article class="login-holder__before-auth">
        <button color="primary" mat-raised-button>ENTRAR</button>
    </article>
    <article class="login-holder__after-auth"></article>
   </section>

   <section>
       <p>Converse com os seus colegas!</p>
       <p>Funciona em qualquer dispositivo.</p>
   </section>

</div>